---
interface Props {
  pageTitle?: string;
}

const navigationItems = [
  { name: 'Home', url: '/' },
  { name: 'Blog', url: '/blog/' },
];

const socialIcons = [
  {
    name: 'GitHub',
    url: 'https://github.com/harryjmoss',
    icon: 'i-uil-github',
  },
  {
    name: 'LinkedIn',
    url: 'https://www.linkedin.com/in/harryjamesmoss/',
    icon: 'i-uil-linkedin',
  },
{ name: 'OrcID',
  url: 'https://orcid.org/0000-0001-6497-3619',
  icon: 'custom-orcid',
},

  { name: 'RSS', url: '/feed.xml', icon: 'i-uil-rss' },
];

const { pageTitle } = Astro.props;
---

<header class='border-b-4 border-black flex justify-between p-6 items-center'>
  {pageTitle && <h1 class='hidden'>{pageTitle}</h1>}
  <a href='/' title='Back to Home'>
    <p class='righteous md:text-5xl'>Harry James Moss</p>
  </a>
  <nav class='hidden md:inline-block'>
    <h2 class='hidden'>Navigation</h2>
    <ul class='flex gap-8 poppins'>
      {
        navigationItems.map((item) => (
          <li>
            <a
              class='text-lg font-medium hover:text-green hover:underline transition-all duration-150 ease-in-out'
              href={item.url}
              title={`Go to ${item.name}`}
            >
              {item.name}
            </a>
          </li>
        ))
      }
{
  socialIcons.map((item) => (
    <li>
      <a
        href={item.url}
        class="hover:text-green hover:underline transition-all duration-150 ease-in-out"
        target="_blank"
        title={`See Harry Moss on ${item.name}`}
      >
        {item.icon === 'custom-orcid' ? (
          // Render custom SVG for the ORCID icon
          <img src="/src/icons/orcid.svg" alt={item.name} class="w-6 h-6" />
        ) : (
          // Render default Iconify icons
          <div class:list={[item.icon, 'w-6 h-6']} />
        )}
      </a>
    </li>
  ))
}
    

</ul>
  </nav>
  <nav class='md:hidden flex'>
    <h2 class='hidden'>Mobile Navigation</h2>
    <ul>
      <li><a href='/blog/'>Blog</a></li>
    </ul>
  </nav>
</header>
